@model Mail.IdentityServer.Models.Role

@{ }

<div>
    <form asp-controller="Auth" asp-action="CreateRole" method="post">
        <label>Create new Role</label>
        <input asp-for="Name" />
        <input type="submit" value="Create" />
    </form>
</div>